@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body{
	height:100vh;
}
body{
	display:flex;
	flex-direction:column;
	font-family: 'Roboto', sans-serif;
	background-color:var(--base-background-color);
	color:var(--base-font-color);
	font-size:0.9rem;
}

.header{
	height:80px;
	display:flex;
	justify-content: center;
	align-items:center;
}

.header > section{
	height:80px;
	display:flex;
	width:1200px;
	margin:0 auto;
}
.header > section .logo{
	width:20%;
	display: flex;
    align-items: center;
}

.header > section .logo .setTodate{
	margin-left:20px;
}

.footer > section > section img,
.header > section .logo img{
	cursor:pointer;
}
.header > section .search{
	flex:1;
}
.header > section .search form{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}
.header > section .search form .search{
	all:unset;
	border:1px solid var(--base-line-color);
	background-color:var(--base-color);
	width:80%;
	height:35px;
	padding:0 10px;
	border-radius: 35px;
}

.header > section .member{
	width:20%;
	display:flex;
	justify-content: flex-end;
	align-items:center;
}

.header > section .member > section:not(:last-child){
	margin-right:20px;
}

.header > section .member > section{
	cursor:pointer;
}

.header > section .member > section:hover{
	color:var(--base-font-over-color);
	text-decoration: underline;
}
.navigation{
	background-color:#000000;
	height:50px;
}
.navigation > nav{
	width:1200px;
	height:50px;
	margin:0 auto;
}
.navigation > nav > ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:0;
	padding:0;
	color:var(--base-background-color);
	height:100%;
}
.navigation > nav > ul > li{
	height:100%;
	display: flex;
	align-items: center;
	
	position: relative;
}
.navigation > nav > ul > li > article:first-child{
	cursor:pointer;
}
.navigation > nav > ul > li > article:first-child:hover{
	color:var(--base-font-over-color);
	text-decoration: underline;
}

.navigation article.sub-menu{
	position: absolute;
	visibility: hidden;
    opacity: 0;
	z-index: 500;
	background-color: var(--base-box-line-color);
    width: max-content;
    top: 40px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    transition: visibility 0.2s, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navigation article.sub-menu ul li{
	cursor:pointer;
	padding: 10px 20px;
}

.navigation article.sub-menu ul li:not(:last-child){
	border-bottom:1px solid #000000;
}
.navigation article.sub-menu ul li:last-child{
	border-radius: 0 0 10px 10px;
}

.navigation article.sub-menu ul li:hover{
	color:var(--base-font-over-color);
	background-color:#000000;
}

.navigation > nav > ul > li:hover article.sub-menu{
	visibility: visible;
	opacity: 1;
	transform: translateX(-50%) translateY(0px);
}

.navigation > nav > ul > li > article.sub-menu ul{
	list-style: none;
	padding:0;
	margin:0;
}

.main{
	flex:1;
	padding:1px 0 20px 0;
}

.main-top{
	height:500px;
	display:flex;
	justify-content: center;
	align-items: center;
	position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.circle {
      position: absolute;
      background-color: #000000;
      border-radius: 50%; /* 원 모양으로 만들기 */
      opacity:0.1;
      z-index: -1;
}

.main-layout-block-1200{
	width:1200px;
	margin:0 auto;
	margin-bottom:50px;
}

.main-layout-block-full{
	width:100%;
	margin-bottom:50px;
}

.main-layout-block-full.main-top > .main-top-left{
	width:250px;
}

.main-layout-block-full.main-top > .main-top-right{
	width:950px;
}

.main-block-title{
}

.category-items-list{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.category-items-list > section{
	width:230px;
	height:300px;
	border:1px solid #dcdcdc;
	margin:10px 0;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
}

.category-items-list > section .item-img{
	width:210px;
	height:210px;
	border-radius:10px;
	margin: 10px 0;
	position: relative;
	cursor:pointer;
}

.category-items-list > section .item-img img{
	width:100%;
	border-radius:10px;
}
.category-items-list > section .item-img > .in-logo{
	position: absolute;
	top:10px;
	left:10px;
	width:25px;
}
.category-items-list > section .item-img > .in-logo img{
	width:100%;
}

.category-items-list > section .item-info{
	border-top:1px solid #dcdcdc;
	width:210px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:5px 0;
}

.footer{
	display:flex;
	justify-content: center;
	border-top:1px solid var(--base-line-color);
	padding-top:30px;
	padding-bottom:30px;
}

.footer-logo > section{
	text-align:center;
}

section.footer > section:not(:first-child) > section:first-child{
	border-bottom:1px solid var(--base-line-color);
	font-weight:700;
	padding-left:10px;
	font-size:1.0rem;
}
section.footer > section:not(:first-child) > section:last-child{
	padding-top:10px;
	padding-left:20px;
	padding-right:10px;
	font-size:0.8rem;
}
section.footer > section:not(:last-child){
	margin-right:20px;
}