@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body{
	height:100vh;
}
body{
	display:flex;
	flex-direction:column;
	font-family: 'Roboto', sans-serif;
	background-color:var(--base-background-color);
	color:var(--base-font-color);
	font-size:0.9rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소들 위에 고정되도록 */
    background-color: #000000; /* 배경색 지정 (투명도를 없애기 위해) */
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.header{
	height:120px;
	display:flex;
	justify-content: center;
	align-items:center;
	color:#a4a4a4;
}

.header > section{
	height:80px;
	display:flex;
	width:1200px;
	margin:0 auto;
}
.header > section .logo{
	width:30%;
	display: flex;
    align-items: center;
}

.header > section .logo .setTodate{
	margin-left:20px;
}

.footer > section > section img,
.header > section .logo img{
	cursor:pointer;
}
.header > section .search{
	flex:1;
}
.header > section .search form{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}
.header > section .search form .search{
	all:unset;
 	border:1px solid #292929;
	background-color:#131313;
	width:80%;
	height:35px;
	padding:0 10px;
	border-radius: 35px;
}

.header > section .member{
	width:30%;
	display:flex;
	justify-content: flex-end;
	align-items:center;
}

.header > section .member > section:not(:last-child){
	margin-right:20px;
}

.header > section .member > section{
	cursor:pointer;
}

.header > section .member > section:hover{
	color:var(--base-font-over-color);
	text-decoration: underline;
}
.navigation{
	background-color:#212121;
	height:50px;
	position: relative;
}
.navigation > nav{
	width:1200px;
	height:50px;
	margin:0 auto;
}
.navigation > nav > ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:0;
	padding:0;
	color:#a4a4a4;
	height:100%;
}
.accordion-body.sub-menu ul{
	list-style: none;
}
.navigation > nav > ul > li{
	height:100%;
	display: flex;
	align-items: center;
	
	position: relative;
}
.navigation > nav > ul > li > article:first-child{
	cursor:pointer;
}
.navigation > nav > ul > li > article:first-child:hover{
	color:var(--base-font-over-color);
	text-decoration: underline;
}

.navigation article.sub-menu{
	position: absolute;
	visibility: hidden;
    opacity: 0;
	z-index: 500;
	background-color: #131313;
    width: max-content;
    top: 40px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    transition: visibility 0.2s, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navigation article.sub-menu ul li{
	cursor:pointer;
	padding: 10px 20px;
}

.navigation article.sub-menu ul li:not(:last-child){
	border-bottom:1px solid #000000;
}
.navigation article.sub-menu ul li:first-child{
	border-radius: 10px 10px 0 0;
}
.navigation article.sub-menu ul li:last-child{
	border-radius: 0 0 10px 10px;
}

.navigation article.sub-menu ul li:hover{
	color:var(--base-font-over-color);
	background-color:#000000;
}

.navigation > nav > ul > li:hover article.sub-menu{
	visibility: visible;
	opacity: 1;
	transform: translateX(-50%) translateY(0px);
}

.navigation > nav > ul > li > article.sub-menu ul{
	list-style: none;
	padding:0;
	margin:0;
}

.navigation .searchWrapper{
	position: absolute;
	visibility: hidden;
    opacity: 0;
	width:100%;
	border-top:1px solid #515151;
	background-color: #000000;
	top:200px;
	transition: 0.2s ease-in-out;
}

.searchWrapper-action{
	visibility: visible !important;
    opacity: 1 !important;
	top:50px !important;
}

.navigation .searchWrapper .search-title{
	font-size:1.0rem;
	color:#515151;
	display: flex;
	padding:10px;
	border-bottom:1px solid #292929;
	height:70px;
	width:100%;
}

.navigation .searchWrapper .search-title > section:not(:nth-of-type(2)){
	width:30%;
}
.navigation .searchWrapper .search-title > section:nth-of-type(2){
	display: flex;
	justify-content: center;
	flex:1;
}
.navigation .searchWrapper .search-title > section:last-child{
	display:flex;
	justify-content: flex-end;
	align-items: center;
}

.text-eff-nav{
	top:0;
	left:50%;
	transform: translateX(-50%);
	position:absolute;
	width:1300px;
	height:80px;
	border-radius:0 0 50px 50px;
	background-color: #212121;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	z-index: -1;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.text-eff-nav:before{
	content:"Experience the perfect sound and luxurious melody created by the hands of a master craftsman at Gransen.";
	/* font-family: 'Dancing Script', serif; */
	font-size:1.0rem;
	color:#626262;
	opacity: 1; /* 기본적으로 숨김 상태 */
    /* animation: fadeEffect 5s infinite; */ /* 10초 간격으로 반복 */
}

/* 애니메이션 정의 */
/* @keyframes fadeEffect {
    0%, 20% {
        opacity: 0;
    }
    40%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

/* i.fa-solid.fa-xmark.fa-beat{
	cursor: pointer;
	color:var(--bs-danger);
}
i.fa-solid.fa-xmark.fa-beat:hover{
	color:#515151;
} */

.main{
	margin-top:200px;
	flex:1;
	padding:0;
}

.main-top{
	height:530px;
	display:flex;
	justify-content: center;
	align-items: center;
	position: relative;
    overflow: hidden;
    border-bottom : 1px solid #212121;
    box-shadow: 0 0 20px rgba(33,33,33,1.0);
}

.circle {
    position: absolute;
    background-color: #000000;
    border-radius: 50%; /* 원 모양으로 만들기 */
    opacity:0.1;
    z-index: -1;
}

.main-layout-block-1200{
	width:1200px;
	margin:0 auto;
	margin-bottom:50px;
}

.main-layout-block-full{
	width:100%;
	margin-bottom:50px;
}

.main-layout-block-full.main-top > .main-top-left{
	width:250px;
}

.main-layout-block-full.main-top > .main-top-right{
	width:950px;
}

.main-layout-block-1200.random{
	border-bottom:1px solid #3b3b3b;
	padding-bottom:30px;
}

.main-block-title{
}

/*--------*/
.category-items-list,
.search-item-list,
.all-items-list{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.search-item-list{
	overflow-y:scroll;
}


.category-items-list > section,
.search-item-list > section,
.all-items-list > section{
	width:230px;
	height:300px;
	border:1px solid #2c2c2c;
	margin:10px 0;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
}
.search-item-list > section{
	border-color:#292929;
	margin:10px 10px 10px 10px;
	width:150px;
	height:220px;
}

.category-items-list > section .item-img,
.search-item-list > section .item-img,
.all-items-list > section .item-img{
	width:210px;
	height:210px;
	border-radius:10px;
	margin: 10px 0;
	position: relative;
	cursor:pointer;
	transform-style: preserve-3d;
}
.search-item-list > section .item-img{
	width:130px;
	height:130px;
}

.search-item-list > section .item-img{
	border:0;
}

.category-items-list > section .item-img img,
.search-item-list > section .item-img img,
.all-items-list > section .item-img img{
	width:100%;
	border-radius:10px;
}
.category-items-list > section .item-img > .in-logo,
.search-item-list > section .item-img > .in-logo,
.all-items-list > section .item-img > .in-logo{
	position: absolute;
	top:10px;
	left:10px;
	width:20px;
	transform: translateZ(20px);
}
.category-items-list > section .item-img > .in-logo img,
.search-item-list > section .item-img > .in-logo img,
.all-items-list > section .item-img > .in-logo img{
	width:100%;
}

.all-items-list{
	padding: 20px 20px;
}

.category-items-list > section .item-info,
.search-item-list > section .item-info,
.all-items-list section .item-info{
	border-top:1px solid #3b3b3b;
	width:210px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:5px 0;
	color:#a4a4a4;
}
.search-item-list > section .item-info{
	border-color:#292929;
	color:#a4a4a4;
	width:130px;
}

.search-item-list .item-info{
	font-size:0.75rem;
}
/*--------*/

.main-layout-block-full.all > section:first-child,
.main-layout-block-1200.random > section:first-child,
.main-layout-block-1200.cate > section:first-child{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:1.5rem;
}
.main-layout-block-full.all > section:first-child > span,
.main-layout-block-1200.random > section:first-child > span,
.main-layout-block-1200.cate > section:first-child > span{
	padding:10px 20px;
	background-color:#131313;
	color:#a4a4a4;
	border-radius:20px;
	margin:30px 0;
}

.main-layout-block-1200 > .banner_02{
	width:680px;
}

.main-layout-block-1200 > .banner_02 img{
	border-radius: 20px;
}

.main-layout-block-full.main-banner,
.main-layout-block-full.main-banner-01{
	height:350px;
	background-size: cover;
	position: relative;
	display: flex;
    justify-content: center;
}

.main-layout-block-full.main-banner{
	background-image:url(/images/banner/banner_01.jpg);
}
.main-layout-block-full.main-banner-01{
	background-image:url(/images/banner/banner_04.jpg);
}
.main-layout-block-full.main-banner-02 > span {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
}
.main-layout-block-full.main-banner-02{
	padding:20px 0;
	font-size:2.0rem;
	font-family: 'Dancing Script', serif;
	color:#ffffff;
	font-weight:700;
	text-align:center;
}

.main-layout-block-full.main-banner:before{
	content:"ONE STOP SERVICE 대광악기사 악기 전문 브랜드 GRANSEN ";
	position: absolute;
	color:#ffffff;
	font-size:3.5rem;
	font-weight:700;
	height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.main-layout-block-1200.action-banner,
.main-layout-block-1200.action-banner_02{
	display:flex;
	justify-content:center;
	padding:30px 0;
	background-color:#131313;
	border-radius:50px;
	flex-wrap: wrap;
}

.action-banner_02{
	width:900px;
	align-items: center;
	height:500px;
	position: relative;
}
.action-banner_02:before{
	content:"당신의 악기가 더욱 빛나는 순간, 그랑센";
	position: absolute;
	color:#626262;
	font-size:2.5rem;
	top:50px;
}

.action-banner_02 .container{
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
	transform-style:preserve-3d;
}

.action-banner_02 .container .img{
	position: relative;
	width:130px;
	height:130px;
	transition:0.5s;
	transform-origin:bottom center;
	-webkit-box-reflect:below 1px linear-gradient(transparent, #0002);
	border-radius: 10px;
}

.action-banner_02 .container .img.hovered{
	transform:perspective(500px) rotateY(0deg) scale(1.5);
	z-index: 900;
}
.action-banner_02 .container .img.prev{
	margin: 0 -20px;
	transform:perspective(500px) rotateY(45deg) scale(0.95);
}

.action-banner_02 .container .img.next{
	margin: 0 -20px;
	transform:perspective(500px) rotateY(-45deg) scale(0.95);
}

.main-layout-block-full .line-items{
	display: flex;
	justify-content: space-between;
	padding:0 10px;
}
.main-layout-block-full .text-banner_01{
	/* font-family: 'Dancing Script', serif; */
	color:#acacac;
	font-size:1.0rem;
	display: flex;
	justify-content: center;
	font-weight: 100;
    padding-top: 20px;
}

.main-layout-block-full .line-items > .line-banner{
	width:150px;
	border-radius:10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.main-layout-block-full .line-items > .line-banner-dot{
	width:50px;
	font-size:3.5rem;
	display:flex;
	justify-content:center;
	align-items: center;
	color:#626262;
}
.main-layout-block-full .line-items > .line-banner-dot:last-child{
	display: none;
}
.main-layout-block-full .line-items > .line-banner > img{
	width:100%;
	border-radius:10px;
}

.footer{
	display:flex;
	justify-content: center;
	border-top:1px solid #3b3b3b;
	padding-top:30px;
	padding-bottom:30px;
	color:#a4a4a4;
}

.footer-logo > section{
	text-align:center;
}

section.footer > section:not(:first-child) > section:first-child{
	border-bottom:1px solid #3b3b3b;
	font-weight:700;
	padding-left:10px;
	font-size:1.0rem;
}
section.footer > section:not(:first-child) > section:last-child{
	padding-top:10px;
	padding-left:20px;
	padding-right:10px;
	font-size:0.8rem;
}
section.footer > section:not(:last-child){
	margin-right:20px;
}

.rep-image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.rep-image.loaded {
    opacity: 1;
}

.blind-top, .blind-bottom{
	height:50%;
	width:100%;
	position: absolute;
	background-color: #000000;
	z-index: 2000;
	overflow: hidden;
}
.blind-top{
	top:-200%;
	transition:0.5s;
	opacity: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.blind-bottom{
	bottom:-200%;
	transition:0.5s;
	opacity: 0;
	display: flex;
	justify-content: center;
}
.blind-in-top{
	width:1000px;
	height:200px;
	border:1px solid #212121;
	border-bottom:0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;
}

.blind-in-bottom{
	width:1000px;
	height:200px;
	border:1px solid #212121;
	border-top:0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.blind-in-top .in-img, .blind-in-bottom .in-img{
	width:300px;
	height:150px;
	border:1px solid #212121;
}

.blind-in-top .in-img{
	border-bottom:0;
}

.blind-in-bottom .in-img{
	border-top:0;
}

.blind-in-top .in-img img,
.blind-in-bottom .in-img img{
	width:100%;
}

.blind-in-top .in-img img{
	border-radius: 10px 10px 0 0;
}

.blind-in-bottom .in-img img{
	transform:translateY(-50%);
	border-radius: 0 0 10px 10px;
}

.blind-close{
	position: absolute;
	height:50px;
	width:100%;
	display: flex;
	justify-content: flex-end;
	align-items:center;
	top:0;
}

.blind-close i{
	margin-right:50px;
}

nav.mobile-nav-btn{
	display:none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
    }
}
@media (max-width: 1200px) {
	.main{
		margin-top:200px;
	}
	.main-top{
		width:100%;
		flex-wrap: wrap;
		height: max-content;
		padding-top:20px;
	}
	.header > section{
		width:100%;
	}
	.main-layout-block-1200.random{
		width:100%;
	}
	.main-layout-block-1200.action-banner{
		width:100%;
	}
	.main-layout-block-1200.action-banner_02{
		display: none;
	}
	.main-layout-block-full.main-banner:before{
		font-size: 2.0rem;
	}
	.category-items-list, .search-item-list, .all-items-list{
		justify-content: space-around;
	}
	.category-items-list > section, .search-item-list > section, .all-items-list > section{
		width:200px;
	}
	.category-items-list > section .item-img, .search-item-list > section .item-img, .all-items-list > section .item-img{
		width:190px;
	}
	.category-items-list > section .item-info, .search-item-list > section .item-info, .all-items-list section .item-info{
		width:100%;
	}
	.main-layout-block-1200{
		width:100%;
	}
	.all-items-list{
		padding:20px 0;
	}
	.main-layout-block-1200 > .banner_02{
		width:100%;
	}
	.item-info{
		flex-wrap: wrap;
		height: auto;
		justify-content: center;
	}
	.navigation:before{
		content: "Professional, trustworthy, fast, accurate, reasonable";
        display: flex;
        width: 100%;
        height: 100%;
        line-height: 50px;
        justify-content: center;
        font-size: 0.9rem;
        color: #a4a4a4;
	}
	span.setTodate, .navigation > nav, .navigation > .text-eff-nav{
		display: none;
	}
	.header > section .logo,
	.header > section .member{
		justify-content: center;
	}
	nav.mobile-nav-btn{
		padding:10px 20px;
		display:flex;
	}
	.text-eff-nav{
		width:100%;
	}
	.main-layout-block-1200 > .banner_02 img{
		width:100%;
	}
	.main-layout-block-full .text-banner_01{
		text-align: center;
	}
	.blind-top, .blind-bottom{
		display: none;
	}
	.footer{
		flex-direction: column;
	}
	.navigation .searchWrapper .search-title{
		padding:0;
	}
	.navigation .searchWrapper .search-title > section:last-child{
		justify-content: flex-start;
	}
	.navigation .searchWrapper .search-title > section:nth-of-type(1){
		display: none;
	}
	.navigation .searchWrapper .search-title > section:not(:nth-of-type(2)){
		width:10%;
	}
	.navigation .searchWrapper .search-title{
		font-size:1.3rem;
	}
	.navigation .searchWrapper .search-title > section{
		align-items:center;
	}
	section.footer > section{
		margin-bottom: 20px;
		margin-left:20px;
	}
	.offcanvas{
		max-width: 60%;
	}
}