@charset "UTF-8";

.new-modal {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	z-index: 1500;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-50%); /* 초기 상태: 화면 위로 이동 */
	transition: opacity 0.3s cubic-bezier(0.5, 0, 0.75, 0);
}

.new-modal-open {
	visibility: visible;
	opacity: 1;
	transform: translateY(0); /* 활성화 상태: 원래 위치로 이동 */
}

.content-box {
	margin: 20px 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -100%); /* X와 Y 방향 모두 설정 */
	width: 1200px;
	height:80%;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
	overflow: hidden; /* 스크롤바 숨김 */
	background-color: #131313;
	display: flex;
    flex-direction: column;
    border:1px solid #222222;
}

.form-control{
	background-color: #222222;
	border-color:#000000;
	color:#626262;
}

.input-group-text{
	border-color:#000000;
	background-color: #222222;
	color:#626262;
}
.form-floating>label{
	color:#626262;
}

.re-size-content-box-detail{
	height:95%;
	width: 900px;
}
.re-size-content-box-login{
	height:400px;
	width: 800px;
}

.content-box .scrollable-content {
	width: 100%;
	height: 100%;
	padding:20px 20px;
	overflow-y: scroll; /* 세로 스크롤 가능 */
	overflow-x: hidden; /* 가로 스크롤 숨김 */
	scrollbar-width: none; /* Firefox에서 스크롤바 숨김 */
	-webkit-overflow-scrolling: touch; /* 부드러운 스크롤 */
	flex: 1;
	display: flex;
    flex-direction: column;
}

.content-box .scrollable-content::-webkit-scrollbar {
	display: none; /* Webkit 브라우저에서 스크롤바 숨김 */
}

.content-box-slide {
	transform: translate(-50%, 0); /* X는 중앙, Y는 활성화 상태 */
}

.modal-info{
	border-bottom:1px solid #222222;
}

.modal-title, .modal-close{
	font-weight:700;
	font-size:1.2rem;
	padding:20px 20px;;
}

.modal-close{
	display:flex;
	justify-content: flex-end;
	border-bottom: 1px solid #222222;
}
.modal-title{
	color: #626262;
	border-bottom: 1px solid #222222;
}
.member-msg{
	border:1px solid #222222;
	border-radius: 5px;
	background-color: #000000;
	padding:10px;
	flex: 1;
	color:#626262;
}
.join-btns{
	height:70px;
	display: flex;
	justify-content: center;
}

.login-form-wrapper{
	width:500px;
	margin:0 auto;
}

.item-detail img{
	width:100%;
	margin:0;
	border:0;
	border-radius:10px;
}
.item-info{
	height:400px;
	display:flex;
	align-items: center;
	padding:20px;
}
.item-info > section:first-child{
	width:360px;
	height:360px;
	margin-right:10px;
}
.item-info > section:last-child{
	flex:1;
	height:100%;
}
.item-info > section:last-child > section{
	border:1px solid #222222;
	color:#626262;
	height:100%;
	width:100%;
	border-radius: 10px;
	padding:10px;
	background-color: #000000;
}

.item-info > section:last-child > section > section{
	display:flex;
	padding:5px;
}

.item-info > section:last-child > section > section >section:first-child{
	width:70px;
}

.item-info > section:last-child > section > section >section:last-child{
	padding-left:10px;
}

.item-info img{
	width:100%;
	border-radius:10px;
}

.login-form-wrapper button[type="submit"]{
	width:100%;
}