<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/variable.css">
    <link rel="stylesheet" href="/css/mainlayout.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
    	<section>
    		<section class="logo">
    			<img src="/images/logo_02.png" title="홈" onclick="location.href='/'">
    		</section>
    		<section class="search">
    			<form name="searchForm" class="searchForm">
    				<input type="text" class="search" placeholder="상품을 검색하세요.">
    			</form>
    		</section>
    		<section class="member">
    			<section title="회원가입">회원가입</section>
    			<section title="회원 로그인">로그인</section>
    		</section>
    	</section>
    </section>
    <section class="main">
    
    </section>
    <section class="footer">
    	<section class="footer-logo">
    		<section>
    			<img src="/images/logo_02.png" title="홈" onclick="location.href='/'">
    		</section>
    		<section>
    			2010 - 2025
    		</section>
    	</section>
    	<section class="company">
    		<section>COMPANY</section>
    		<section></section>
    	</section>
    	<section class="loction">
    		<section>LOCATION</section>
    		<section></section>
    	</section>
    	<section class="shopping">
    		<section>SHOPPING</section>
    		<section></section>
    	</section>
    	<section class="bank-info">
    		<section>BANK INFO</section>
    		<section></section>
    	</section>
    	<section class="service">
    		<section>SERVICE</section>
    		<section></section>
    	</section>
    	<section class="brand">
    		<section>BRAND</section>
    		<section></section>
    	</section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>