<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="/tripleSlider/demo-static/triple-slider.css">
    <link rel="stylesheet" href="/tripleSlider/demo-static/main.css">
    <link rel="stylesheet" href="/css/variable.css">
    <link rel="stylesheet" href="/css/mainlayout.css">
    <title>대광악사 :: GRANSEN</title>
</head>
<body>
    <section class="header">
    	<section>
    		<section class="logo">
    			<img src="/images/logo_02.png" title="홈" onclick="location.href='/'">
    		</section>
    		<section class="search">
    			<form name="searchForm" class="searchForm">
    				<input type="text" class="search" placeholder="상품을 검색하세요.">
    			</form>
    		</section>
    		<section class="member">
    			<section title="회원가입">회원가입</section>
    			<section title="회원 로그인">로그인</section>
    		</section>
    	</section>
    </section>
    <section class="navigation">
    	<nav>
    		<ul>
    			<li>
    				<article>메뉴</article>
    				<article class="sub-menu">
    					<ul>
    						<li>서브메뉴</li>
    						<li>서브메뉴</li>
    						<li>서브메뉴</li>
    					</ul>
    				</article>
				</li>
				<li>
    				<article>메뉴</article>
    				<article class="sub-menu">
    					<ul>
    						<li>서브메뉴</li>
    						<li>서브메뉴</li>
    						<li>서브메뉴</li>
    					</ul>
    				</article>
				</li>
				<li>
    				<article>메뉴</article>
    				<article class="sub-menu">
    					<ul>
    						<li>서브메뉴</li>
    						<li>서브메뉴</li>
    						<li>서브메뉴</li>
    					</ul>
    				</article>
				</li>
				<li>
    				<article>메뉴</article>
    				<article class="sub-menu">
    					<ul>
    						<li>서브메뉴</li>
    						<li>서브메뉴</li>
    						<li>서브메뉴</li>
    					</ul>
    				</article>
				</li>
    		</ul>
    	</nav>
    </section>
    <section class="main">
    	
    	<section class="main-layout-block-full main-top">
    		<section class="main-top-left" title="소리를 키우세요~">
				<video width="250" controls autoplay muted>
				  <source src="/images/movie_01.mp4" type="video/mp4" />
				</video>
    		</section>
    		<section class="main-top-right">
				  <div id="app">
				    <!-- Triple slider -->
				    <div class="triple-slider">
				      <!-- Duplicate swipers will be created automatically -->
				
				      <!-- Main center swiper -->
				      <div class="swiper">
				        <div class="swiper-wrapper">
				          <div class="swiper-slide">
				            <img class="bg-image" src="/tripleSlider/assets/images/cello.jpg" alt="">
				            <img class="logo-image logo-image-1" data-swiper-parallax-x="50%"
				              src="/tripleSlider/assets/images/cello_banner.png" alt="">
				          </div>
				          <div class="swiper-slide">
				            <img class="bg-image" src="/tripleSlider/assets/images/kalimba.jpg" alt="">
				            <img class="logo-image logo-image-2" data-swiper-parallax-x="50%" src="/tripleSlider/assets/images/kalimba_banner.png"
				              alt="">
				          </div>
				          <div class="swiper-slide">
				            <img class="bg-image" src="/tripleSlider/assets/images/ukulele.jpg" alt="">
				            <img class="logo-image logo-image-3" data-swiper-parallax-x="50%" src="/tripleSlider/assets/images/ukulele_banner.png" alt="">
				          </div>
				          <div class="swiper-slide">
				            <img class="bg-image" src="/tripleSlider/assets/images/flute.jpg" alt="">
				            <img class="logo-image logo-image-4" data-swiper-parallax-x="50%" src="/tripleSlider/assets/images/flute_banner.png"
				              alt="">
				          </div>
				          <div class="swiper-slide">
				            <img class="bg-image" src="/tripleSlider/assets/images/violin.jpg" alt="">
				            <img class="logo-image logo-image-5" data-swiper-parallax-x="50%" src="/tripleSlider/assets/images/violin_banner.png"
				              alt="">
				          </div>
				        </div>
				      </div>
				    </div>
				  </div>
    		</section>
    	</section>
    	<section class="main-layout-block-1200">
    		<section>카테고리 상품 [<span class="setItemLength"></span>]</section>
    		<section></section>
    	</section>
    </section>
    <section class="footer">
    	<section class="footer-logo">
    		<section>
    			<img src="/images/logo_02.png" title="홈" onclick="location.href='/'">
    		</section>
    		<section class="setTodate">
    			1997 - 2025
    		</section>
    	</section>
    	<section class="company">
    		<section>COMPANY</section>
    		<section>
    			<article>대표 : 김영채</article>
    			<article>사업자 등록번호 : 207-02-52461</article>
    			<article>통신판매업신고번호 : 2006-서울광진-2382</article>
    			<article>개인정보관리자 : 김진수</article>
    			<article>E-mail : kyc100k@naver.com</article>
    			<article>COPYRIGHT akgi.co.kr ALL RIGHTS RESERVER</article>
    		</section>
    	</section>
    	<section class="loction">
    		<section>LOCATION</section>
    		<section>
    			<article>매장 : 서울 광진구 광나루로56길 85, 4층 C111,112</article>
    			<article>출고지 : 서울특별시 광진구 자양로 53-1</article>
    			<article>Tel : 02-456-2383</article>
    			<article>Fax : 02-458-5776</article>
    		</section>
    	</section>
    	<section class="shopping">
    		<section>SHOPPING</section>
    		<section>
    			<article>악기몰 : akgi mall</article>
    			<article>thomastik-infeld : thomastik-infeld.com</article>
    			<article>네이버쇼핑 : 스마트스토어</article>
    			<article>옥션 : 미니샵</article>
    			<article>지마켓 : 미니샵</article>
    		</section>
    	</section>
    	<section class="bank-info">
    		<section>BANK INFO</section>
    		<section>
    			<article>국민은행</article>
    			<article>087901-04-304566</article>
    			<article>김영채(대광악기사)</article>
    		</section>
    	</section>
    	<section class="service">
    		<section>SERVICE</section>
    		<section>
    			<article>판매(제조, 수입), 수리, 조율</article>
    		</section>
    	</section>
    	<section class="brand">
    		<section>BRAND - GRANSEN is</section>
    		<section>
				<article>GRANSEN은</article>
    			<article>대광악기사 종합 악기전문 브랜드 입니다.</article>
    		</section>
    	</section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/tripleSlider/demo-static/triple-slider.js"></script>
    <script src="/tripleSlider/demo-static/main.js"></script>
    <script src="/js/calendar.js"></script>
</body>
</html>